fastapi
pydantic
uvicorn
asyncpg
sqlalchemy
sqlalchemy-utils
fastapi-restful
alembic
requests
pytest
redis
fastapi_events
python-jose[cryptography]
passlib
pydantic-settings
fastapi_users
fastapi-users[sqlalchemy]
asyncache
cachetools
CacheToolsUtils
asyncio-redis